<fieldset>
  <header>Login</header>
  <p>
    <label for="{{elementId}}-identification">Username</label>
    <input data-test-username id="{{elementId}}-identification" name="identity" placeholder="Enter username" onchange={{action (mut identity) value="target.value"}}>
  </p>
  <p>
    <label for="{{elementId}}-password">Password</label>
    <input data-test-password id="{{elementId}}-password" type="password" name="password" placeholder="Enter password" onchange={{action (mut password) value="target.value"}}>
  </p>
</fieldset>
<p>
  <button type="submit" data-test-login-button {{action "onSubmit"}}>Login</button>
  <button type="reset" data-test-reset-button {{action "onCancel"}}>Cancel</button>
</p>
